<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.digipeople.locotech.technologist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ru.digipeople.locotech.technologist.ui.activity.remarks.RemarksActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="ru.digipeople.locotech.technologist.ui.activity.work.WorkActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="ru.digipeople.locotech.technologist.ui.activity.comment.CommentActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="ru.digipeople.locotech.technologist.ui.activity.splash.SplashActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="ru.digipeople.locotech.technologist.AppInitProvider"
            android:authorities="${applicationId}.appInitProvider"
            android:exported="false" />

    </application>

</manifest>
